@mixin column {
  /* height: 100%; */
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

@mixin flex {
  display: flex;
}

@mixin row {
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
