@use './layout.scss';

$lightblue: #6fb7ff;
$purple: #b062ff;
$background: #222222;
* {
  box-sizing: border-box;
}
body {
  color: white;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

page-content {
  @include layout.flex;
  @include layout.column;
  flex-wrap: wrap !important;
  // height: 100vh;
  // height: calc(var(--vh, 1vh) * 100);
  padding: 4vh;
  // padding: calc(var(--vh, 1vh) * 4);

  section.pic-bio,
  section.videos {
    margin-bottom: 5vh;
  }

  section.pic-bio {
    @include layout.flex;
    @include layout.row;
    justify-content: space-around;
    // margin-bottom: auto;
    box-sizing: border-box;
    // height: 25vh;
    min-height: 25vh;
    // height: calc(var(--vh, 1vh) * 25);
    //   width: 80%;
    // padding: 0 3vh;
    //   opacity: 0;
    > div {
      height: 100%;
      min-height: 25vh;
      width: 49%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 1.5vh;
        // border-radius: calc(var(--vh, 1vh) * 1.5);
        height: 100%;
        max-height: 25vh;
        // width: 49%;
        // margin-right: 8vw;
      }
      .bio {
        min-height: 25vh;
        height: 100%;
        justify-content: space-between;
        // padding-left: 10%;

        .age {
          width: 100%;
        }
        p {
          font-size: 2.5vh;
          // font-size: calc(var(--vh, 1vh) * 2.5);
          width: 100%;
          text-align: left;
        }
      }
    }
  }

  section.videos {
    width: 100%;

    .video-container {
      // margin-bottom: auto;
      border-radius: 0.5vh;
      // border-radius: calc(var(--vh, 1vh) * 1.5);
      //   margin: auto 0;
      width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      // min-height: 30%;
      overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  p.soon {
    margin-bottom: 200px;
  }
}
.fade {
  // animation: fadeInAnimation ease 1.5s;
}

nav {
  width: 100%;
  margin-bottom: 5vh;
  margin-top: 1vh;

  .name {
    width: 100%;
    color: white;
    font-size: 6vh;
    text-align: center;

    font-weight: bold;
  }
}

a.flex.fade {
  background-color: $lightblue;
  padding: 4vh 3vh;
  border-radius: 1.5vh;

  width: 100%;
  font-size: 2.5vh;

  text-decoration: none;
  p {
    color: white !important;
    width: 90%;
  }
}

.soon {
  width: 60%;
  text-align: center;
  font-size: 2vh;
  font-weight: 200;
  width: 100%;
}

#loader {
  display: block;
  margin: auto;
  width: 35vh;
}

@media only screen and (width: 375px) {
  section.pic-bio {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1025px) {
  page-content {
    @include layout.row;

    section.pic-bio {
      width: 29%;
      > div {
        width: 100%;
        justify-content: flex-start;
        padding-left: 10%;
        &:last-child {
          margin-top: 3vh;
        }
      }
    }
    section.videos {
      @include layout.flex;
      @include layout.row;
      width: 70%;
      .video-container {
        width: 48%;
        padding-bottom: 20%;
        &.e1 {
          width: 100%;
          padding-bottom: 50%;
        }
        &.e2 {
          padding-bottom: 50%;
        }
      }
    }
    a.flex.fade {
      text-align: center;
      p {
        width: 100%;
      }
      img {
        display: none;
      }
    }
    .name {
      text-align: left;
    }
  }
}
